<h1>Create Movie</h1>

<form [formGroup]="movieForm" (ngSubmit)="createMovie()">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" name="title" class="form-control" formControlName="title">
    value:{{movieForm.value.title}}
    <div class="alert alert-danger" *ngIf="title.invalid && title.touched">

      <p *ngIf="title.errors?.['required']">*Gerekli Alan</p>
      <p *ngIf="title.errors?.['minlength']">*Minimum 5 karakter giriniz</p>


    </div>
  </div>

  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea type="text" class="form-control" name="description" formControlName="description"></textarea>
    <div class="alert alert-danger" *ngIf="description.invalid && description.touched">

      <p *ngIf="description.errors?.['required']">*Gerekli Alan</p>
      <p *ngIf="description.errors?.['minlength']">*Minimum 10 karakter giriniz</p>


    </div>
  </div>

  <div class="mb-3">
    <label for="imageUrl" class="form-label">Image</label>
    <input type="text" name="imageUrl" class="form-control" formControlName="imageUrl">
    <div class="alert alert-danger" *ngIf="imageUrl.invalid && imageUrl.touched">

      <p *ngIf="imageUrl.errors?.['required']">*Gerekli Alan</p>
      <p *ngIf="imageUrl.errors?.['wrongExtension']">*Lütfen (".jpeg",".jpg" veya ".png" uzantısı ile yükleyiniz</p>


    </div>

  </div>

  <div class="mb-3">
    <label for="categoryId" class="form-label">CategoryId</label>
    <select name="categoryId" class="form-select" formControlName="categoryId">
      <option value="">Seçiniz</option>
      <option *ngFor="let item of categories" [value]="item.id">{{item.name}}</option>
    </select>

  </div>

  <button [disabled]="!movieForm.valid" type="submit" class="btn btn-primary">Kaydet</button>
  <button class="btn btn-warning ms-2" (click)="clearForm()">Temizle</button>
</form>
